---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center items-center h-screen w-full">
		<h1 class="text-6xl font-bold tracking-widest">Astro - Testing</h1>
	</main>
</Layout>

<style></style>
